.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #00bcd4;
    gap: 8px;
    padding: 8px;
}

.name {
    flex: 1 1 120px;
    height: 50px;
    border-bottom: 2px solid #00bcd4;
}

.email {
    flex: 3 1 170px;
    height: 50px;
    border-bottom: 2px solid #00bcd4;
}

.button {
    flex: 1 1 70px;
    height: 50px;
    background-color: #00bcd4;
    display: flex;
    justify-content: center;
    align-items: center;
}
